{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') }
] %}

{% set fullPageForm = true %}

{% extends "_layouts/cp" %}

{% set title = plugin.name %}
{% set docTitle = title ~ ' - ' ~ "Plugins"|t('app') %}

{% block content %}
    {{ actionInput('asset-stock/connect/adobe') }}

    {{  forms.textField({
        first: true,
        label: "Access Key",
        name: 'access_key',
        value: settings.accessKey
    }) }}
{% endblock %}

{% block submitButton %}
    <button type="submit" class="btn submit">Save & Connect to Adobe Stock</button>
{% endblock %}